@import 'variables';
@import 'mixins';

// General Styling
.small{
    font-size: 16px !important;
    flex-basis: 33.3%;
}
.medium{
    font-size: 1em;
    flex-basis: 50%;
}
.large{
    font-size: 1em;
    flex-basis: 66.7%;
}

// Menu Principal Section

section>div.title{
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    h3{
        color: white;
        font-size: 1.25em;
        margin: 2px 5px 2px 0px;
        font-family: $chau-philo;
        text-transform: uppercase;
    }
    img{
        width: 30px;
        height: 20px;
    }
    .rotate-90{
        transform: rotate(-90deg);
    }
}

section.menu-principal{
    background-color: $third-color;
    ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 0;
        margin-bottom: 0;
    }
    ul>li{
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 15px 10px;
        border: 1px dashed $secondary-color;
    }
    ul>li>a{
        color: white;
        font-family: $chau-philo;
        text-transform: uppercase;
    }
    ul>li>img{
        width: 25px;
        height: 20px;
        margin-left: 10px;
    }
}

.imagem-cardapio{
    background-color: #fff;
    img{
        width: 100%;
    }
}